<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication3">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication3"
        tools:targetApi="31">
        <activity
            android:name=".CivicIskFormActivity"
            android:exported="false" />
        <activity
            android:name=".ComplaintFormActivity"
            android:exported="false" />
        <activity
            android:name=".ChoiceFormActivity"
            android:exported="true"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="complaint" />
                <data android:scheme="myappscheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IskFormActivity"
            android:exported="false" />
        <activity
            android:name=".test.TestAnswer4"
            android:exported="false" />
        <activity
            android:name=".test.TestAnswer3"
            android:exported="false" />
        <activity
            android:name=".test.TestAnswer2"
            android:exported="false" />
        <activity
            android:name=".test.TestAnswer1"
            android:exported="false" />
        <activity
            android:name=".test.TestQuestion3"
            android:exported="false" />
        <activity
            android:name=".test.TestInfo1"
            android:exported="false" />
        <activity
            android:name=".test.TestQuestion2"
            android:exported="false" />
        <activity
            android:name=".test.TestQuestion1"
            android:exported="false" />
        <activity
            android:name=".SubquestionsAndAnswers"
            android:exported="false" />
        <activity
            android:name=".ContactsActivity"
            android:exported="true"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="stack1" />
                <data android:scheme="myappscheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DictionaryActivity"
            android:exported="true"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="stack" />
                <data android:scheme="myappscheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>